*.npy
*.png
*.csv
*.tsv
*.hea
*.pdf
*.zip
.ipynb_checkpoints/*
the-circor-digiscope-phonocardiogram-dataset-1.0.1/*
.DS_Store
kerastune_searches/*
neural_nets/*
Phonocardiogram Classification.docx
.Rhistory