*.npy
entropy-23-00667.pdf
*.zip
.DS_Store
Phonocardiogram Classification.docx
.Rhistory

.ipynb_checkpoints/*
the-circor-digiscope-phonocardiogram-dataset-1.0.1/*
neural_nets/*
kerastune_searches/*
scripts/*
Deliverables/*
